body {
	background-color: #141414;
	color: #ffffff;
}
.image-container:hover {
	cursor: pointer;
	transform: scale(1.02);
}

.movie-app > .row {
	overflow-x: scroll;
	flex-wrap: nowrap;
}
.movie-app > .row::-webkit-scrollbar {
  display: none;
}


